#mainNavigation a {
    font-family: 'Cabin', sans-serif;
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:1px;
  }
  
  .dropdown-menu {
    background:white
  }
  a.dropdown-toggle {
    color:black !important
  }
  a.dropdown-item:hover {
    color:#202020 !important
  }
  .nav-item a{
    color:Black;
  }
  .nav-item a:hover {
    color:#202020;
  }
  .nav-item{
    min-width:12vw;
  }
  #mainNavigation {
    top:0;
    left:0;
    width:100%;
    z-index:123;
}
  #navbarNavDropdown.collapsing .navbar-nav,
  #navbarNavDropdown.show .navbar-nav{
    background:white;
    padding:12px;
  }

.bottom-border {
    border-bottom: solid 1px;
}

.navbar-expand-md .navbar-nav .nav-item{
    position: relative;
}

.navbar-expand-md .navbar-nav .nav-item::after{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    content: '';
    background-color: black;
    width: 0%;
    height: 1px;

}

.navbar-expand-md .navbar-nav .nav-item:hover::after{
    width: 50%;
}